<div class="card my-3">
		<div class="card-body">
			<p class="text-start score_field">
              <span class="score_heading">No of flashcards completed: </span><span class="score_value" id="phrase_total_count">Loading...</span>
			</p>
          <p class="text-start score_field">
              <span class="score_heading">Overall Score: </span><span class="score_value" id="phrase_overall_score"></span>
          </p>
          <p class="text-start score_field">
              <span class="score_heading">Strongest Category: </span><span class="score_value" id="phrase_strongest_category">Loading... </span>
          </p>
          <p class="text-start score_field">
              <span class="score_heading">Weakest Category: </span><span class="score_value" id="phrase_weakest_category">Loading... </span>
          </p>
		</div>
</div>