<div class="card my-3">
		<div class="card-body">
			<p class="text-start score_field">
              <span class="score_heading">Flashcards completed: </span><span class="score_value" id="verse_total_count">Loading...</span>
			</p>
          <p class="text-start score_field">
              <span class="score_heading">Overall Score: </span><span class="score_value" id="verse_overall_score"></span>
          </p>
          <p class="text-start score_field">
              <span class="score_heading">Strongest Chapter: </span><span class="score_value" id="verse_strongest_chapter">Loading... </span>
          </p>
          <p class="text-start score_field">
              <span class="score_heading">Weakest Chapter: </span><span class="score_value" id="verse_weakest_chapter">Loading... </span>
          </p>
		</div>
</div>