.phrase-checkbox{
  float: right;
}
.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a {
    margin: 0 5px;
    text-decoration: none;
    color: #007bff;
}

.pagination .current {
    font-weight: bold;
    margin: 0 5px;
}

.position_arrows{
  font-size: 3rem;
}

a{
  text-decoration: none;
}

.phrase_item {
  background-color: #A4D1A6;
  width: 100%; /* Full width on mobile */
  max-width: 35rem; /* Limit size on larger screens */
  padding: 1rem;
  position: relative;
}

.phrase_text {
  color: black;
  /* text-shadow: 0px 0px 0 black, 2px -2px 0 black, 0px 0px 0 black, 0px 0px 0 black; */
  text-align: center;
  word-wrap: break-word; /* Ensure long words don't break layout -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
 */
}


.phrase_translation {
  font-style: italic;
  font-size: 1rem;
}

.phrase_card{
  align-self: center;
  margin: auto;
  margin-top: 5em;
  border: black solid 2px;
  width: 30rem;
}

.phrase_card .card-body{
  background-color: #A4D1A6;
  border-top: black solid 2px;
}


@media (max-width: 768px) {
  .phrase_item {
    height: auto; /* Allow height to adjust dynamically */
    padding: 0.8rem;
  }
  .phrase_text {
    font-size: 1.2rem; /* Reduce font size on small screens */
  }
  .phrase_translation {
    font-size: 0.9rem;
  }
}

.checkbox {
  transform: scale(1.2); /* Make checkboxes easier to tap */
}