.bi-volume-up{
font-size: 18px;
}
.position_arrows{
font-size: 30px;
}
.verse_link{
    text-decoration: none;
    color: black;
}
.audio_controls{
    font-size: 20px;
}
#play-button {
    cursor: pointer;
}
.audio_controls{
    font-size: 20px;
}
#play-button {
    cursor: pointer;
}

.selection-checkbox{
  float: right;
}
