.base_body {
  margin: 0;
  background-color: #E2EFE3;
}
.nav-item .nav-link{
  color: #68B76C;
}
.navbar{
  border-bottom: 0.5px solid black;
  font-family: "Roboto Mono", serif;
}
.nav-item.dropdown .dropdown-menu{
  background-color: #A4D1A6;
}
.default_spacer{
    margin-bottom:10px !important;
}
#input{
  width: 500px;
  height: 40px;
  border-radius: 10px;
}
.selection_panel{
  padding-top: 100px;
}
#brandname{
  font-family: "Dancing Script", serif;
  font-optical-sizing: auto;
  font-weight: 2;
  font-style: normal;
}
.page_title{
  text-align: center;
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 5;
  font-style: bold;
}

.roboto-mono-font-5 {
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 5;
  font-style: normal;
}

.controls {
  display: flex;
  justify-content: center; /* Centers content horizontally */
  gap: 1rem; /* Adds spacing between buttons */
  margin-top: 2rem; /* Optional: adds space above */
  margin-bottom: 1rem;
}

.options_controls{
  align: right;
  margin-right: 2rem;
}

.swap_tab{
  background-color: #E2EFE3 !important;
}

.verse_text{
font-family: "Noto Naskh Arabic", serif;
font-optical-sizing: auto;
font-weight: 500;
font-style: normal;
font-size: 30px;
}
#chapterFields {
  max-height: 300px; /* Set a fixed height for the dropdown */
  overflow-y: auto; /* Enable vertical scrolling */
}
.response_links{
  font-size: 20px;
}
.delete_icon{
    font-size: 15px;
    color: red;
}
.list-group-item{
    font-size: 20px;
    color: black;
}
.budget_heading{
    text-align: center;
}
.expense_transaction{
    color: red !important;
}

.earning_transaction{
    color: green !important;;
}
.report_section_heading{
    font-size: 30px;
}
.category_delete_icon{
    margin-left: 15px;
}

.flashcardset-main{
  padding-top: 15px
}

.flashcardset-checkbox{
margin-left: 20px;
}

.cat-item div {
    background: #FFFFFF;
    border: 1px dashed rgba(0, 185, 142, .3);
    transition: .5s;
}

.cat-item:hover div {
    background: var(--primary);
    border-color: transparent;
}

.cat-item div * {
    transition: .5s;
}
