{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
<div class="container budget_heading" >
        <h2>Chapters</h2>
</div>
<div class="container" align="center">

    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
            <th class="text-center">No.</th>
            <th class="text-center">Name</th>
        </tr>
      </thead>
      <tbody>
        {% for chapter in object_list %}
              <tr>
                <td>{{ chapter.id }}</td>
                <td class="text-center">
                  <a href="{% url 'quran:chapter_detail' pk=chapter.id %}">{{chapter.name_simple}}</a>
                </td>

              </tr>
	    {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}
