{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
<link href="{% static 'css/quran_style.css' %}" rel="stylesheet"/>
<div class="container" id="chapter_list_page">
<div class="container page_title" >
        <h2>Chapters</h2>
</div>
    <table class="table table-striped" id="chapter_list_table">
      <thead class="table-dark">
        <tr>
            <th class="text-center">No.</th>
            <th class="text-center">Name</th>
        </tr>
      </thead>
      <tbody>
        {% for chapter in object_list %}
              <tr>
                <td class="text-center">{{ chapter.id }}</td>
                <td class="text-center">
                  <a href="{% url 'quran:chapter_detail' pk=chapter.id %}">{{chapter.name_simple}}</a>
                </td>

              </tr>
	    {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}
