{% extends 'base.html' %}
{% load static %}
{% block content %}

  <br><br><div class="jumbotron" align="center" >
      <a href="{% url 'quran:populate_chapters' %}" role="button" class="btn btn-outline-secondary w-80">Add Chapters</a>
      <a href="{% url 'quran:populate_verses' %}" role="button" class="btn btn-outline-secondary w-80">Add Verses</a>
      <a href="{% url 'quran:populate_audio_editions' %}" role="button" class="btn btn-outline-secondary w-80">Add Audio Editions</a>
      <a href="{% url 'quran:populate_hosted_audio' %}" role="button" class="btn btn-outline-secondary w-80">Add Hosted Audio Objects</a>
  </div>


{% endblock %}
