{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<link href="{% static 'css/quran_style.css' %}" rel="stylesheet"/>
<div class="container quran_page" >
    <h2 class="page_title">My Verse Selections</h2>

    {% if user.is_authenticated %}
    <div class="dropdown options_controls" align="right">
      <button class="btn btn-outline-secondary" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-list"></i>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" id="select_all_button" href="#">Select All</a></li>
        <li><a class="dropdown-item" id="delete_selected_button" href="#" disabled>Delete</a></li>
      </ul>
    </div>
    <div class="container controls">
      <a href="{% url 'quran:verse_selection_form' %}" role="button" class="btn btn-outline-secondary w-80 create_btn"> <i class="bi bi-plus"></i>Create Verse Selection</a>
    </div>
    {% endif %}
  <div class="container d-flex flex-column align-items-center" id="vs_list">
    {% for selection in object_list %}
    <div class="card my-3 verse_selection_item">
        <a href="{% url 'quran:verse_selection_detail' pk=selection.id %}">
            <div class="card-body">
              <div class="text-end">
                <input type="checkbox" name="selected_phrases" value="{{ selection.id }}" class="checkbox vs_list_checkbox">
              </div>
                <h3 class="card-title phrase_text">
                  {{ selection.title}}
                </h3>
                  <p class="card-text text-start phrase_translation" >{{selection.title }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
  </div>
</div>
<script src="{% static 'js/delete_selected.js' %}"></script>
{% endblock %}
