{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<link href="{% static 'css/quran/verseselection.css' %}" rel="stylesheet"/>
<div class="jumbotron chapter_heading container">
  <a href="{% url 'quran:verse_selection_detail' pk=verseselection.id %}"><h2 id="verseselection_title">
    <h2 id="chapter-name">
      {{ verseselection.title }}
    </h2>
  </a>
</div>
<hr>

<div class="container">
  <h3>Words</h3>
  <div  align="center">
    {% for word in words %}
        <div class="card my-3">
            <div class="card-body">
              <p class="text-start">
                {{ word.verse.verse_key }}
              </p>
                <p class="text-end verse_text" style="direction: rtl;">{{ word.text_uthmani }}</p>
                <p class="text-start">
                    {{ word.translation.text | safe }}
                </p>
            </div>
        </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
