{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<link href="{% static 'css/quran_style.css' %}" rel="stylesheet"/>
<div class="container verse_selection_form_page" >
    <h2 class="page_title">Verse Selection form</h2>

         <form id="verse_selection_form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
              <label for="title" class="form-label">Title:</label>
              <input class="form-control" type="text" name="title" placeholder="Title" required>
            </div>
            <div class="horizontal-group">
              <label for="verseChapterRangeStart" class="form-label">Select Chapter:</label>
                <select class="form-select" id="verseChapterRangeStart" name="verse_chapter_range_start">
                    <option value="">Select range start</option>
                </select>
                <label for="verseRangeStart" class="form-label">Start Verse:</label>
                  <select class="form-select" id="verseRangeStart" name="verse_range_start" required>
                      <option value="">Select range start</option>
                  </select>
              </div>
              <div class="horizontal-group">
                  <label for="verseChapterRangeEnd" class="form-label">Select Chapter:</label>
                  <select class="form-select" id="verseChapterRangeEnd" name="verse_chapter_range_end">
                      <option value="">Select range end</option>
                  </select>
                <label for="verseRangeEnd" class="form-label">End Verse:</label>
                <select class="form-select" id="verseRangeEnd" name="verse_range_end" required>
                    <option value="">Select range end</option>
                </select>
              </div>
            <br>
            <button class="btn btn-outline-primary" type="submit">Submit</button>
            <a onclick="javascript:history.back();" class="btn btn-outline-secondary">Cancel</a>
        </form>
</div>
<script src="{% static 'js/quran/verse_selection_form.js' %}"></script>
{% endblock %}
