{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<style>
    .verse_text{
    font-family: "Noto Naskh Arabic", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
    }
  .bi-volume-up{
    font-size: 18px;
  }
  .position_arrows{
    font-size: 30px;
  }

</style>
<div class="jumbotron chapter_heading container">
  <a href="{% url 'quran:verse_selection_detail' pk=verseselection.id %}"><h2 id="verseselection_title">
    <h2 id="chapter-name">
      {{ verseselection.title }}
    </h2>
  </a>
</div>
<hr>

<div class="container">
  <h3>Words</h3>
  <div  align="center">
    {% for word in words %}
        <div class="card my-3">
            <div class="card-body">
              <p class="text-start">
                {{ word.verse.verse_key }}
              </p>
                <p class="text-end verse_text" style="direction: rtl;">{{ word.text_uthmani }}</p>
                <p class="text-start">
                    {{ word.translation.text | safe }}
                </p>
            </div>
        </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
