{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<link href="{% static 'css/quran/verseselection.css' %}" rel="stylesheet"/>
<div class="container verseselection_heading">
    <h2 id="verseselection-name">
      {{ verseselection.title }}
    </h2>
    <div class="audio_controls">
        <button id="play-button"><i class="bi bi-play"></i></button>
        <button id="pause-button"  style="display:none;"><i class="bi bi-pause"></i></button>
        <button id="reset-button" style="display:none;"><i class="bi bi-stop"></i></button>
    </div>


    <div class="container" align="right">
      <h3>
        <a href="{% url 'quran:verse_selection_word_list' pk=verseselection.id %}">All words</a>
      </h3>
      <a href="{% url 'quran:delete_verse_selection' pk=verseselection.id %}" role="button" class="btn btn-outline-danger  w-80">Delete Verse Selection</a>
      <br><br>
      <form method="get">
          <label for="translation">Select Audio Edition:</label>
          <select name="audio_edition" id="audio_edition" onchange="this.form.submit()">
              {% for edition in available_audio_editions %}
                  <option value="{{ edition.identifier }}"
                          {% if selected_audio_identifier == edition.identifier %}selected{% endif %}>
                      {{ edition.english_name }}
                  </option>
              {% endfor %}
          </select>
      </form><br><br>
    <form method="get">
        <label for="translation">Select Translation:</label>
        <select name="translation" id="translation" onchange="this.form.submit()">
            {% for translation in available_translations %}
                <option value="{{ translation.resource_id }}"
                        {% if selected_resource_id == translation.resource_id %}selected{% endif %}>
                    Translation (Resource {{ translation.resource_id }})
                </option>
            {% endfor %}
        </select>
    </form>
</div>

</div>

<div class="container" align="center">
    {% for verse in verses %}
        <div class="card my-3">
            <a href="{% url 'quran:verse_detail' pk=verse.id %}" class="verse_link">
                <div class="card-body">
                    <p class="text-start">{{ verse.verse_key }}</p>
                    {% if verse %}
                    <p class="text-end verse_text" style="direction: rtl;">{{ verse.text_uthmani }}</p>
                    <p class="text-start">
                        {% if verse.selected_translation %}
                            {{ verse.selected_translation | safe }}
                        {% else %}
                            <em>Translation not available</em>
                        {% endif %}
                    </p>
                      {% if verse.selected_audio %}
                      <audio controls id="audio-{{ verse.id }}" class="verse-audio" data-verse-id="{{ verse.id }}" style="width: 100%;">
                          <source src="{{ verse.selected_audio.audio_path }}" type="audio/mp3"/>
                      </audio>
                      {% endif %}
                    {% endif %}
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% block extra_js %}
{% endblock %}
<script src="{% static 'js/quran/play_verses_audio.js' %}"></script>

{% endblock %}
