{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<link href="{% static 'css/quran/verseselection.css' %}" rel="stylesheet"/>
<div class="container budget_heading" >
        <h2>My Verse Selections</h2>
</div>
    {% if user.is_authenticated %}
        <div id="controls" class="container" align="center">
        <br><br>
        <a href="{% url 'quran:verse_selection_form' %}" role="button" class="btn btn-outline-secondary w-80">Create Verse Selection</a>
        <button type="submit" class="btn btn-danger" id="delete_selected_button" disabled>Delete Selected</button>
        </div><br><br>
    {% endif %}
<div class="container" align="center">
  <form id="delete_selected_form" method="POST" action="{% url 'quran:delete_verse_selections' %}">
      {% csrf_token %}
      <div id="selection-list">
          {% for selection in object_list %}
          <div class="verse_selection_item">
              <h4>
                <a href="{% url 'quran:verse_selection_detail' pk=selection.id %}">{{ selection.title }}</a>
                <input  type="checkbox" name="selected_verse_selections" value="{{ selection.id }}" class="checkbox">
              </h4>
              <hr>
          </div>
          {% endfor %}
      </div>
  </form>

</div>
<script src="{% static 'js/delete_selected.js' %}"></script>
{% endblock %}
