{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container" >
    <h2>Verse Selection form</h2><br><br>
         <form id="verse_selection_form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
              <label for="title" class="form-label">Title:</label>
              <input class="form-control" type="text" name="title" placeholder="Title" required>
            </div>
            <div class="horizontal-group">
              <label for="verseChapterRangeStart" class="form-label">Select Chapter:</label>
                <select class="form-select" id="verseChapterRangeStart" name="verse_chapter_range_start">
                    <option value="">Select range start</option>
                </select>
                <label for="verseRangeStart" class="form-label">Start Verse:</label>
                  <select class="form-select" id="verseRangeStart" name="verse_range_start" required>
                      <option value="">Select range start</option>
                  </select>
              </div>
              <div class="horizontal-group">
                  <label for="verseChapterRangeEnd" class="form-label">Select Chapter:</label>
                  <select class="form-select" id="verseChapterRangeEnd" name="verse_chapter_range_end">
                      <option value="">Select range end</option>
                  </select>
                <label for="verseRangeEnd" class="form-label">End Verse:</label>
                <select class="form-select" id="verseRangeEnd" name="verse_range_end" required>
                    <option value="">Select range end</option>
                </select>
              </div>
            <br>
            <button class="btn btn-outline-primary" type="submit">Submit</button>
            <a onclick="javascript:history.back();" class="btn btn-outline-secondary">Cancel</a>
        </form>
</div>
<script>
    $(document).ready(function () {
      loadOptions('/flashcards/get_range_options/' + 'verse', '#verseChapterRangeStart');
      loadOptions('/flashcards/get_range_options/' + 'verse', '#verseChapterRangeEnd');

$('#verseChapterRangeStart').change(function () {
    const startChapter = $(this).val();

    if (startChapter) {
      loadOptions(`/flashcards/get_verses_options/${startChapter}`, '#verseRangeStart');
    }
});

$('#verseChapterRangeEnd').change(function () {
    const endChapter = $(this).val();

    if (endChapter) {
      loadOptions(`/flashcards/get_verses_options/${endChapter}`, '#verseRangeEnd');
    }
});

function loadOptions(url, selector) {
    $.get(url, function (data) {
        const select = $(selector);
        select.empty();
        select.append(new Option('Select an option', ''));
        data.options.forEach(option => {
            select.append(new Option(option.label, option.value));
        });
    });
}


// Form submission
$('#verse_selection_form').submit(function (e) {
    e.preventDefault();

    const verseRangeStart = parseInt($('#verseRangeStart').val(), 10);
    const verseRangeEnd = parseInt($('#verseRangeEnd').val(), 10);

    if (isNaN(verseRangeStart) || isNaN(verseRangeEnd) || verseRangeEnd <= verseRangeStart) {
        alert('Error: The end of the range must be greater than the start.');
        return;
      }
      const formData = $(this).serializeArray();

    $.post('/quran/create_verse_selection', formData, function (response) {
        if (response.redirect_url) {
            window.location.href = response.redirect_url;
        } else {
            alert('Verse Selection created successfully!');
        }
    }).fail(function (xhr) {
        alert('Form submission failed: ' + xhr.responseText);
    });
});
});

</script>
{% endblock %}
