{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<link href="{% static 'css/flashcardset_style.css' %}" rel="stylesheet"/>
<div class="container" id="form_page" >
    <div class="container page_title" >
            <h2>Create a deck</h2>
    </div>
    <div class="container" id="flashcard_creation_form">

            <form id="flashcard_form">
                          {% csrf_token %}
            <div class="mb-3">
              <label for="requestType" class="form-label">Number of flashcards:</label>
              <input class="form-control-sm" type="number" name="amount" placeholder="Amount" required>
            </div>
            <div class="mb-3">
              <label for="serviceType" class="form-label">Type:</label>
              <select class="form-select-sm" id="serviceType" name="service_type">
                  <option value="">Select a type</option>
              </select>
            </div>
            <div class="mb-3" id="requestTypeContainer" style="display: none;">
              <label for="requestType" class="form-label">Selection criteria:</label>
              <select class="form-select-sm" id="requestType" name="request_type">
                  <option value="">Select criteria</option>
              </select>
            </div>
            <div class="mb-3 select_container" id="idListContainer"  style="display: none;">
                <div id="idListFields"></div>
                <button type="button" class="add_field_btn" id="addIdField">Add</button>
            </div>

            <div class="mb-3 select_container" id="juzListContainer" style="display: none;">
                <div id="juzListFields"></div>
                <button type="button" class="add_field_btn" id="addJuzField">Add Juz</button>
            </div>

            <div class="mb-3 select_container" id="rangeContainer" style="display: none;">
              <label for="rangeStart" class="form-label">Choose start of range:</label>
                <select class="form-select-sm" id="rangeStart" name="range_start">
                    <option value="">Select range start</option>
                </select>
                <label for="rangeEnd" class="form-label">Choose end of range:</label>
                <select class="form-select-sm" id="rangeEnd" name="range_end">
                    <option value="">Select range end</option>
                </select>
            </div>

            <div class="mb-3 select_container" id="verseRangeContainer" style="display: none;">
              <div class="horizontal_group">
                <label for="verseChapterRangeStart" class="form-label">Select Chapter:</label>
                  <select class="form-select-sm" id="verseChapterRangeStart" name="verse_chapter_range_start">
                      <option value="">Select range start</option>
                  </select>
                  <label for="verseRangeStart" class="form-label">Start Verse:</label>
                    <select class="form-select-sm" id="verseRangeStart" name="verse_range_start">
                        <option value="">Select range start</option>
                    </select>
                </div>
                <div class="horizontal_group">
                    <label for="verseChapterRangeEnd" class="form-label">Select Chapter:</label>
                    <select class="form-select-sm" id="verseChapterRangeEnd" name="verse_chapter_range_end">
                        <option value="">Select range end</option>
                    </select>
                  <label for="verseRangeEnd" class="form-label">End Verse:</label>
                  <select class="form-select-sm" id="verseRangeEnd" name="verse_range_end">
                      <option value="">Select range end</option>
                  </select>
                </div>
            </div>

            <div class="mb-3" id="categoryContainer" style="display: none;">
              <label for="category" class="form-label">Choose category:</label>
                <select class="form-select-sm" id="category" name="category">
                    <option value="">Select a category</option>
                </select>
            </div>
            <div class="mb-3" id="tagsContainer" style="display: none;">
              <label for="tags" class="form-label">Tags:</label>
              <input class="form-control-sm" type="text" name="tags" placeholder="Tags">
            </div>
            <button class="btn btn-primary" id="form_submit_btn" type="submit">Submit</button>
        </form>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/flashcard/flashcardset_form.js' %}"></script>
{% endblock %}
