{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<link href="{% static 'css/flashcard/flashcardset_detail.css' %}" rel="stylesheet"/>
<div class="container budget_heading" >
        <h2>My Flashcards</h2>
</div>
    {% if user.is_authenticated %}
        <div id="phrase_controls" class="container" align="center">
        <br><br>
        <a href="{% url 'flashcards:add_flashcardset' %}" role="button" class="btn btn-outline-secondary w-80">Create Flashcards Set</a>
        <button type="submit" class="btn btn-danger" id="delete_selected_button" disabled>Delete Selected</button>
        </div><br><br>
    {% endif %}
<div class="flashcardset-tabs">
  <ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a class="nav-link active swap_tab"  id="incompleted_swap_tab"  href="#" onclick="swapTabs('incompleted_sets_div')">New</a>
  </li>
  <li class="nav-item">
    <a class="nav-link swap_tab" id="completed_swap_tab" href="#" onclick="swapTabs('completed_sets_div')">Completed</a>
  </li>
</ul>
</div>
<div class="container" align="center">
  <form id="delete_selected_form" method="POST" action="{% url 'flashcards:delete_flashcardsets' %}">
      {% csrf_token %}
      <div class="swap_div" id="incompleted_sets_div">
          {% for flashcardset in flashcardset_list %}
            {% if flashcardset.score is None %}
              <div class="flashcardset-item">
                  <h4>
                    <a href="{% url 'flashcards:flashcardset_detail' pk=flashcardset.id %}">{{ flashcardset.title|truncatechars:28  }}</a>
                    <input  type="checkbox" name="selected_flashcardsets" value="{{ flashcardset.id }}" class="checkbox">
                  </h4>
                  <hr>
              </div>
            {% endif %}
          {% endfor %}
      </div>
      <div class="swap_div" id="completed_sets_div" style="display: none;">
          {% for flashcardset in flashcardset_list %}
            {% if flashcardset.score is not None %}
              <div class="flashcardset-item" >
                  <h4>
                    <a href="{% url 'flashcards:flashcardset_detail' pk=flashcardset.id %}">{{ flashcardset.title|truncatechars:28  }}</a>
                    <input  type="checkbox" name="selected_flashcardsets" value="{{ flashcardset.id }}" class="checkbox">
                  </h4>
                  <hr>
              </div>
            {% endif %}
          {% endfor %}
      </div>

  </form>
</div>
<script src="{% static 'js/delete_selected.js' %}"></script>
<script src="{% static 'js/swap_tabs.js' %}"></script>
{% endblock %}
