{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}

<link href="{% static 'css/flashcardset_style.css' %}" rel="stylesheet"/>
<div id="flashcardset" data-id="{{ flashcardset.id }}"></div>
{% if not flashcardset.flashcards.all %}
<div class="jumbotron" align=center>
  <h2>No {{flashcardset.type}}s returned</h2>
</div>
{% else %}
<div class="container">
  <a class="page_title" href="{% url 'flashcards:update_flashcardset' pk=flashcardset.id %}">
      <h2>{{ flashcardset.title }}</h2>
  </a>

  <div class="dropdown options_controls" align="right">
    <button class="btn btn-outline-secondary" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-list"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="{% url 'flashcards:delete_flashcardset' pk=flashcardset.id %}" id="select_all_button" >Delete</a></li>
    </ul>
  </div>
  <h5>{{ flashcardset.type }}</h5>

    {% if flashcardset.type == "Verse" %}
      <div class="container" align="right">
        <form method="get">
            <label for="translation">Select Audio Edition:</label>
            <select name="audio_edition" id="audio_edition" onchange="this.form.submit()">
                {% for edition in available_audio_editions %}
                    <option value="{{ edition.identifier }}"
                            {% if selected_audio_identifier == edition.identifier %}selected{% endif %}>
                        {{ edition.english_name }}
                    </option>
                {% endfor %}
            </select>
        </form><br><br>
      </div>
    {% endif %}
</div><br><br><br>
<div class="container flashcardset-main">
  {% if flashcardset.score is not None %}
      {% include 'flashcards/snippets/flashcardset_detail_reportcard.html' %}
  {% else %}
    {% include 'flashcards/snippets/flashcardset_detail_form.html' %}
  </div>
  {% endif %}
{% endif %}
<script src="{% static 'js/swap_tabs.js' %}"></script>
<script src="{% static 'js/flashcard/correct_answer.js' %}"></script>
<script src="{% static 'js/flashcard/toggle_audio.js' %}"></script>
<script src="{% static 'js/flashcard/flashcardset_detail.js' %}"></script>
{% endblock %}
