{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<style>
    .flashcardset-checkbox{
float: right;
}
.flashcardset-tabs{
  margin-bottom: 2em;
}
</style>
<div class="container budget_heading" >
        <h2>My Flashcards</h2>
</div>
    {% if user.is_authenticated %}
        <div id="phrase_controls" class="container" align="center">
        <br><br>
        <a href="{% url 'flashcards:add_flashcardset' %}" role="button" class="btn btn-outline-secondary w-80">Create Flashcards Set</a>
        <button type="submit" class="btn btn-danger" id="delete-button" disabled>Delete Selected</button>
        </div><br><br>
    {% endif %}
<div class="flashcardset-tabs">
  <ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a class="nav-link active sets_div_tab"  id="incompleted_sets_div_tab"  href="#" onclick="swapTabs('incompleted_sets_div')">New</a>
  </li>
  <li class="nav-item">
    <a class="nav-link sets_div_tab" id="completed_sets_div_tab" href="#" onclick="swapTabs('completed_sets_div')">Completed</a>
  </li>
</ul>
</div>
<div class="container" align="center">
  <form id="delete_flashcardsets_form" method="POST" action="{% url 'flashcards:delete_flashcardsets' %}">
      {% csrf_token %}
      <div class="flashcardset-list" id="incompleted_sets_div">
          {% for flashcardset in flashcardset_list %}
            {% if flashcardset.score is None %}
              <div class="flashcardset-item">
                  <h4>
                    <a href="{% url 'flashcards:flashcardset_detail' pk=flashcardset.id %}">{{ flashcardset.title|truncatechars:28  }}</a>
                    <input  type="checkbox" name="selected_flashcardsets" value="{{ flashcardset.id }}" class="flashcardset-checkbox">
                  </h4>
                  <hr>
              </div>
            {% endif %}
          {% endfor %}
      </div>
      <div class="flashcardset-list" id="completed_sets_div" style="display: none;">
          {% for flashcardset in flashcardset_list %}
            {% if flashcardset.score is not None %}
              <div class="flashcardset-item" >
                  <h4>
                    <a href="{% url 'flashcards:flashcardset_detail' pk=flashcardset.id %}">{{ flashcardset.title|truncatechars:28  }}</a>
                    <input  type="checkbox" name="selected_flashcardsets" value="{{ flashcardset.id }}" class="flashcardset-checkbox">
                  </h4>
                  <hr>
              </div>
            {% endif %}
          {% endfor %}
      </div>

  </form>
</div>
<script>
  function swapTabs(current_div_id) {
         var current_sets_div = document.getElementById(current_div_id);
         var current_tab_id = current_div_id + '_tab';
         var current_tab = document.getElementById(current_tab_id);

         document.querySelectorAll('.sets_div_tab').forEach(input => {
           input.classList.remove("active");
         });

         document.querySelectorAll('.flashcardset-list').forEach(input => {
           input.style.display = 'none';
           input.classList.remove("active");
         });

         current_sets_div.style.display = 'block';
         current_tab.classList.add("active");
       }
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const checkboxes = document.querySelectorAll('.flashcardset-checkbox');
        const deleteButton = document.getElementById('delete-button');
        const form = document.getElementById('delete_flashcardsets_form');

        // Add event listener to checkboxes to enable/disable the delete button
        checkboxes.forEach(checkbox => {
            checkbox.addEventListener('change', function () {
                // Enable the delete button if at least one checkbox is selected
                const anyChecked = Array.from(checkboxes).some(cb => cb.checked);
                deleteButton.disabled = !anyChecked;
            });
        });
        form.addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent the default form submission

            const confirmDeletion = confirm("Are you sure you want to delete the selected flashcard sets? This action cannot be undone.");
            if (confirmDeletion) {
                form.submit(); // Submit the form if confirmed
            }
        });
    });
</script>
{% endblock %}
