<!DOCTYPE html>
{% load static %}
{% load django_bootstrap5 %}
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />

  <title>QSB</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!--        Custom CSS styling -->
   <link href="{% static 'css/style.css' %}" rel="stylesheet"/>

   <!--        Fonts -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;1,500&family=Noto+Naskh+Arabic:wght@400..700&family=Russo+One&family=Sedan+SC&display=swap" rel="stylesheet">

  <!--        Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <!--        jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>


 </head>
<body class="base_body">
<style>
  #chapterFields {
    max-height: 300px; /* Set a fixed height for the dropdown */
    overflow-y: auto; /* Enable vertical scrolling */
  }
</style>

  <header class="header_section">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg custom_nav-container">
        <ul class="navbar-nav mr-auto">
          <a class="navbar-brand mynav" id="brandname" href="{% url 'home' %}">Quran Study Buddy</a>
        </ul>

          <ul class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}"> Home </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{user.username}}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'arabic:phrase_list' %}">My Phrases</a></li>
                <li><a class="dropdown-item" href="{% url 'flashcards:flashcardset_list' %}">My Flashcards</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Create
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'arabic:add_phrase' %}">Create Phrase</a></li>
                <li><a class="dropdown-item" href="{% url 'flashcards:add_flashcardset' %}">Create Flashcard set</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="chapterNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Chapters
              </a>
              <ul class="dropdown-menu" id="chapterFields" aria-labelledby="chapterNavbarDropdown">
                <!-- Dropdown items will be populated here -->
              </ul>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'quran:chapter_list' %}">Quran</a>
            </li>
            {% if user.username == 'admin' %}
              <li class="nav-item">
              <a class="nav-link" href="{% url 'quran:admin' %}">Admin</a>
              </li>
            {% endif %}
            <li class="nav-item">
              <form action="{% url 'accounts:logout' %}" method="post">
                  {% csrf_token %}
                  <button id="logoutbtn" class="nav-link" type="submit">Logout</button>
              </form>
            </li>
            {% else %}
            <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}"> Home </a>
            </li>
            <li class="nav-item">
            <a id="loginbtn" class="nav-link" href="{% url 'accounts:login' %}">Login</a>
            </li>
            <li class="nav-item">
            <a id="signupbtn" class="nav-link" href="{% url 'accounts:signup' %}">Signup</a>
            </li>
            {% endif %}
          </ul>
    </nav>
  </div>
</header>

<section class=" content_section">


  {% block content %}
  {% endblock %}

</section>
<script>
  $(document).ready(function () {
    $.get('/flashcards/get_id_options/verse', function (data) {
      const dropdownMenu = $('#chapterFields'); // Reference to the dropdown menu

      // Clear any existing content
      dropdownMenu.empty();

      // Add default option or other placeholder if needed
      dropdownMenu.append('<li><a class="dropdown-item" href="/quran/">All Chapters</a></li>');

      // Populate dropdown with options
      data.options.forEach(option => {
        dropdownMenu.append(
          `<li><a class="dropdown-item" href="/quran/chapter/${option.value}">${option.label}</a></li>`
        );
      });
    });
  });
</script>
