<!DOCTYPE html>
{% load django_bootstrap5 %}
<html>
<head>
  {% load static %}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes" />

  <title>QSB</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <!--        Custom CSS styling -->
   <link href="{% static 'css/style.css' %}" rel="stylesheet"/>


   <!--        Fonts -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;1,500&family=Noto+Naskh+Arabic:wght@400..700&family=Russo+One&family=Sedan+SC&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap" rel="stylesheet">
  <!--        Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

  <!--        jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'js/logout.js' %}"></script>


 </head>
<body class="base_body">

<header class="header_section">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #E2EFE3 !important;">
      <!-- Brand Name -->
      <a class="navbar-brand mynav" id="brandname" href="{% url 'home' %}">
        <i class="bi bi-book-half"></i> Quran Study Buddy
      </a>

      <!-- Navbar Toggler for Mobile -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar Content -->
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          {% if user.is_authenticated %}
                    <!-- Chapters Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="chapterDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Chapters
            </a>
            <ul class="dropdown-menu dropdown-menu-end" id="chapterFields" aria-labelledby="chapterDropdown">
              <!-- Dropdown items will be populated dynamically -->
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'arabic:phrase_list' %}">My Phrases</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'flashcards:flashcardset_list' %}">My Flashcards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'quran:verse_selection_list' %}">My Verses Lists</a>
          </li>

          <!-- User Dropdown -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ user.username }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              {% if user.scorecard %}
              <li>
                <a class="dropdown-item" href="{% url 'scorecard:scorecard_detail' pk=user.scorecard.id %}">My Scorecard</a>
              </li>
              <li >
                <a class="dropdown-item" id="logoutbtn" href="#" data-logout-url="{% url 'accounts:logout' %}">Logout</a>
              </li>
              {% endif %}
              
            </ul>
          </li>



          <!-- Admin Links (Only for Admins) -->
          {% if user.username == 'admin' %}
          <li class="nav-item"><a class="nav-link" href="{% url 'quran:admin' %}">Quran Admin</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'quran:audio_edition_list' %}">Audio Editions</a></li>
          <li class="nav-item"><a class="nav-link" href="{% url 'test' %}">Test Page</a></li>
          {% endif %}



          {% else %}
          <!-- Guest Navigation -->
          <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
          <li class="nav-item"><a id="loginbtn" class="nav-link" href="{% url 'accounts:login' %}">Login</a></li>
          <li class="nav-item"><a id="signupbtn" class="nav-link" href="{% url 'accounts:signup' %}">Signup</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </div>
</header>


<section class="content_section">


  {% block content %}
  {% endblock %}

</section>
<script>
  $(document).ready(function () {
    $.get('/flashcards/get_id_options/verse', function (data) {
      const dropdownMenu = $('#chapterFields'); // Reference to the dropdown menu

      // Clear any existing content
      dropdownMenu.empty();

      // Add default option or other placeholder if needed
      dropdownMenu.append('<li><a class="dropdown-item" href="/quran/">All Chapters</a></li>');

      // Populate dropdown with options
      data.options.forEach(option => {
        dropdownMenu.append(
          `<li><a class="dropdown-item" href="/quran/chapter/${option.value}">${option.label}</a></li>`
        );
      });
    });
  });
</script>
