{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<link href="{% static 'css/phrase_style.css' %}" rel="stylesheet"/>

<div class="container">


<div class="card mb-3 phrase_card" >
  {% if phrase.image %}
  <img src="{{phrase.image.url}}" class="card-img-top" alt="...">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title phrase_text">{{ phrase.text}}</h5>
    <p class="card-text phrase_translation">{{phrase.translation }}</p>
    <p class="card-text"><small class="text-muted">{{phrase.category }}</small></p>
  </div>
</div>

{% if user.is_authenticated %}
  <div class="controls">
    <a href="{% url 'arabic:update_phrase' pk=phrase.id %}" role="button" class="btn btn-outline-secondary  w-80">Edit phrase</a>
    <a href="{% url 'arabic:delete_phrase' pk=phrase.id %}" role="button" class="btn btn-outline-danger  w-80">Delete phrase</a>
  </div>
{% endif %}
</div>
{% endblock %}
