{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<link href="{% static 'css/phrase/phrase_list.css' %}" rel="stylesheet"/>
<div class="container budget_heading" >
        <h2>My Phrases</h2>
</div>
    {% if user.is_authenticated %}
        <div id="phrase_controls" class="container" align="center">
        <br><br>
        <a href="{% url 'arabic:add_phrase' %}" role="button" class="btn btn-outline-secondary w-80">Create Phrase</a>
        <button type="submit" class="btn btn-danger" id="delete_selected_button" disabled>Delete Selected</button>
        </div><br><br>
    {% endif %}
<div class="container" align="center">
  <form id="delete_selected_form" method="POST" action="{% url 'arabic:delete_phrases' %}">
      {% csrf_token %}
      <div id="phrase-list">
          {% for phrase in phrase_list %}
          <div class="phrase-item">
              <h4>
                <a href="{% url 'arabic:phrase_detail' pk=phrase.id %}">{{ phrase.text }}</a>
                <input  type="checkbox" name="selected_phrases" value="{{ phrase.id }}" class="checkbox">
              </h4>
              <hr>
          </div>
          {% endfor %}
      </div>
  </form>
</div>
<script src="{% static 'js/delete_selected.js' %}"></script>
{% endblock %}
