{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<link href="{% static 'css/phrase/phrase_list.css' %}" rel="stylesheet"/>
<div class="container budget_heading" >
        <h2>My Phrases</h2>
</div>
    {% if user.is_authenticated %}
        <div id="phrase_controls" class="container" align="center">
        <br><br>
        <a href="{% url 'arabic:add_phrase' %}" role="button" class="btn btn-outline-secondary w-80">Create Phrase</a>
         <button type="button" class="btn btn-info" id="select_all_button">Select All</button>
        <button type="submit" class="btn btn-danger" id="delete_selected_button" disabled>Delete Selected</button>
        </div><br><br>
    {% endif %}
<div class="container" align="center">
  <input type="text" id="searchBox" placeholder="Search..." class="form-control mb-4" style="max-width: 300px;" oninput="filterPhrases()">
  <form id="delete_selected_form" method="POST" action="{% url 'arabic:delete_phrases' %}">
      {% csrf_token %}
      <div id="phrase-list">
        {% include 'arabic/snippets/phrase_list_results.html' %}
      </div>
      <div id="pagination" class="pagination">
        {% include 'arabic/snippets/phrase_list_pagination.html' %}
      </div>
  </form>
</div>
<script src="{% static 'js/delete_selected.js' %}"></script>
<script src="{% static 'js/arabic/filter_phrase_list.js' %}"></script>
{% endblock %}
