{% load custom_filters %}
{% for flashcard in flashcardset.flashcards.all %}
{% if flashcard.correct_answer_given %}
<div class="card my-3">
    <div class="card-body">
      <p class="verse_text">{{ flashcard.question }}</p>
            <span class="correct_answer">
                <p class="text-start">Your Answer: {{ flashcard.user_answer | safe }} <span class="green-tick">✔️</span></p>
                <p class="text-start">Acceptable Answers: {{ flashcard.answer | safe }}</p>
                {% if  flashcard.info.verse_info %}
                  <p>Details:</p>
                  <p class="text-end verse_text">{{ flashcard.info|get:'verse_info'| safe }}</p>
                {% endif %}
            </span>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" onchange="correct_answer( {{flashcard.id}} )" id="{{flashcard.id}}_switch" checked>
              <label class="form-check-label" for="flexSwitchCheckChecked">Correct</label>
            </div>

      </div>
  </div>
  {% endif %}
  {% endfor %}
