<ul class="nav nav-tabs justify-content-center">
<li class="nav-item">
  <a class="nav-link active answers_card_tab"  id="all_answers_card_tab"  href="#" onclick="swapTabs('all_answers_card')">All Answers</a>
</li>
<li class="nav-item">
  <a class="nav-link answers_card_tab" id="correct_answers_card_tab" href="#" onclick="swapTabs('correct_answers_card')">Correct Answers</a>
</li>
<li class="nav-item">
  <a class="nav-link answers_card_tab" id="incorrect_answers_card_tab" href="#" onclick="swapTabs('incorrect_answers_card')">Incorrect Answers</a>
</li>
</ul>

<div class="report_card">
  <div class="card" style="width: 18rem;">
    <div class="card-footer">
      Score: {{correct_answers_count}}/{{total_flashcards_count}} ({{ flashcardset.score }}%)
    </div>
  </div>
  <div class="answers_card" id="all_answers_card">
    {% for flashcard in flashcardset.flashcards.all %}
    <div class="card my-3">
      <div class="card-body">
        <p class="{% if  flashcardset.type != "Phrase" %}verse_text{% endif %}">
          {{ flashcard.question }}
          {%if flashcard.selected_audio %}
            <i class="bi bi-volume-up" onclick="document.getElementById('audio-{{ flashcard.id }}').play()"></i>
            <audio id="audio-{{ flashcard.id }}" class="flashcard-audio" data-flashcard-id="{{ flashcard.id }}" style="width: 100%;">
                <source src="{{ flashcard.selected_audio }}" type="audio/mp3"/>
            </audio>
          {% endif %}
        </p>
        {%if flashcard.audio_answer %}
        <p> Your audio recording:
          <audio controls id="audio-answer-{{ flashcard.id }}" class="flashcard-audio-answer" data-flashcard-id="{{ flashcard.id }}" style="width: 100%;">
              <source src="{{ flashcard.audio_answer.url }}" type="audio/mp3"/>
          </audio>
        </p>
        {% endif %}

          {% if flashcard.correct_answer_given %}
              <span class="correct_answer">
                  <p class="text-start">Your Answer: {{ flashcard.user_answer | safe }} <span class="green-tick">✔️</span></p>
                  <p class="text-start">Acceptable Answers: {{ flashcard.answer | safe }}</p>
                  {% if  flashcard.info %}
                  <p>Info:</p>
                  <p class="{% if  flashcardset.type != "Phrase" %}text-end verse_text{% endif %}">{{ flashcard.info | safe }}</p>
                  {% endif %}
              </span>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" onchange="correct_answer( {{flashcard.id}} )" id="{{flashcard.id}}_switch" checked>
                <label class="form-check-label" for="flexSwitchCheckChecked">Correct</label>
              </div>
          {% else %}
              <span class="incorrect_answer">
                  <p class="text-start">Your Answer: {{ flashcard.user_answer | safe }} <span class="red-cross">❌</span></p>
                  <p class="text-start">Acceptable Answers: {{ flashcard.answer | safe }}</p>
                  {% if  flashcard.info %}
                  <p>Info:</p>
                  <p class="{% if  flashcardset.type != "Phrase" %}text-end verse_text{% endif %}">{{ flashcard.info | safe }}</p>
                  {% endif %}
              </span>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" onchange="correct_answer( {{flashcard.id}} )" id="{{flashcard.id}}_switch">
                <label class="form-check-label" for="flexSwitchCheckChecked">Incorrect</label>
              </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
  </div>
        <div class="answers_card" id="correct_answers_card" style="display: none;">
          {% for flashcard in flashcardset.flashcards.all %}
          {% if flashcard.correct_answer_given %}
          <div class="card my-3">
              <div class="card-body">
                <p class="{% if  flashcardset.type != "Phrase" %}verse_text{% endif %}">{{ flashcard.question }}</p>
                      <span class="correct_answer">
                          <p class="text-start">Your Answer: {{ flashcard.user_answer | safe }} <span class="green-tick">✔️</span></p>
                          <p class="text-start">Acceptable Answers: {{ flashcard.answer | safe }}</p>
                          {% if  flashcard.info %}
                          <p>Info:</p>
                          <p class="{% if  flashcardset.type != "Phrase" %}text-end verse_text info_text{% endif %}">{{ flashcard.info | safe }}</p>
                          {% endif %}
                      </span>
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" onchange="correct_answer( {{flashcard.id}} )" id="{{flashcard.id}}_switch" checked>
                        <label class="form-check-label" for="flexSwitchCheckChecked">Correct</label>
                      </div>

                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="answers_card" id="incorrect_answers_card" style="display: none;">
          {% for flashcard in flashcardset.flashcards.all %}
          {% if not flashcard.correct_answer_given %}
          <div class="card my-3">
              <div class="card-body">
                <p class="{% if  flashcardset.type != "Phrase" %}verse_text{% endif %}">{{ flashcard.question }}</p>
                  <span class="incorrect_answer">
                      <p class="text-start">Your Answer: {{ flashcard.user_answer | safe }} <span class="red-cross">❌</span></p>
                      <p class="text-start">Acceptable Answers: {{ flashcard.answer | safe }}</p>
                      {% if  flashcard.info %}
                      <p>Info:</p>
                      <p class="{% if  flashcardset.type != "Phrase" %}text-end verse_text{% endif %}">{{ flashcard.info | safe }}</p>
                      {% endif %}
                  </span>
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" onchange="correct_answer( {{flashcard.id}} )" id="{{flashcard.id}}_switch">
                    <label class="form-check-label" for="flexSwitchCheckChecked">Incorrect</label>
                  </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
</div>
