<form id="flashcards_questions_form" method="post" align="center" enctype="multipart/form-data">
  {% csrf_token %}
        <span class="center" style="{% if  flashcardset.type != "Phrase" %}display: none;{% endif %}">
            <input type="checkbox" id="show-all-images-checkbox"> Show All Images
        </span>
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="false">
    <div class="carousel-inner">
      {% for flashcard in flashcardset.flashcards.all %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}" data-id="{{ flashcard.id }}">
          <div class="flashcard_question">
            {%if flashcard.selected_audio %}
            <div class="flashcard_audio">
              <i class="bi bi-volume-up" onclick="toggleAudio('{{ flashcard.id }}')"></i>
              <audio id="audio-{{ flashcard.id }}" class="flashcard-audio" data-flashcard-id="{{ flashcard.id }}">
                  <source src="{{ flashcard.selected_audio }}" type="audio/mp3"/>
              </audio>
            </div>
            {% endif %}
              <p class="{% if  flashcardset.type != "Phrase" %}verse_text{% endif %}">
                {{ flashcard.question }}
              </p>
          </div>
              {% if flashcard.image %}
                  <div class="image_container">
                      <img src="{{ flashcard.image.url }}" alt="Question Image" class="flashcard_image">
                      <br>
                      <input type="checkbox" class="show_image_checkbox"> Show Image
                  </div><br><br>
              {% endif %}
            {% if "Verse" in flashcardset.type %}
                <div class="mb-3 user_input" align="center">
                  <select name="user_answer_{{ flashcard.id }}" class="form-select form-select-sm" aria-label=".form-select-sm example">
                    <option selected>Choose a chapter</option>
                      {% for chapter in chapters %}
                          <option value="{{ chapter.name_simple }}">{{ chapter.id }} - {{ chapter.name_simple }}</option>
                      {% endfor %}
                  </select><br><br>
                  <audio id="playback_{{ flashcard.id }}" class="playback_controls" controls style="display: none;"></audio>
                  <button id="record_{{ flashcard.id }}" class="record_btn"><i class="bi bi-mic-fill"></i></button>
                  <button id="stop_{{ flashcard.id }}" class="stop_btn" disabled><i class="bi bi-stop-circle-fill"></i></button>
                  <input type="hidden" id="audio_data_{{ flashcard.id }}" class="audio_data" name="audio_data_{{ flashcard.id }}">
                </div>
            {% else %}
          <input class="text_answer" type="text" name="user_answer_{{ flashcard.id }}" placeholder="Your Answer" size="50">
            {% endif %}
        </div>
      {% endfor %}
    </div>
    <br><br><br>
    <div class="carousel-indicators">
      {% for flashcard in flashcardset.flashcards.all %}
        <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="{{ forloop.counter0 }}"
            {% if forloop.first %} class="active" aria-current="true"{% endif %}
            aria-label="Slide {{ forloop.counter }}">
        </button>
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    </div>
    <div>
        <button type="submit" class="btn btn-primary mt-4" id="form_submit_btn">Submit</button>
    </div>
</form>
