<style type="text/css">
  .verse_key{
    font-size: 12px !important;
    }
</style>
<ul class="nav nav-tabs justify-content-center">
<li class="nav-item">
  <a class="nav-link active swap_tab"  id="all_swap_tab"  href="#" onclick="swapTabs('all_swap_div')">All Answers</a>
</li>
<li class="nav-item">
  <a class="nav-link swap_tab" id="correct_swap_tab" href="#" onclick="swapTabs('correct_swap_div')">Correct Answers</a>
</li>
<li class="nav-item">
  <a class="nav-link swap_tab" id="incorrect_swap_tab" href="#" onclick="swapTabs('incorrect_swap_div')">Incorrect Answers</a>
</li>
</ul>

<div class="report_card">
  <div class="card" style="width: 18rem;">
    <div class="card-footer">
      Score: {{correct_answers_count}}/{{total_flashcards_count}} ({{ flashcardset.score }}%)
    </div>
  </div>
  <div class="swap_div" id="all_swap_div">
    {% include 'flashcards/snippets/all_answers_report.html' %}
  </div>
  <div class="swap_div" id="correct_swap_div" style="display: none;">
    {% include 'flashcards/snippets/correct_answers_report.html' %}
  </div>
  <div class="swap_div" id="incorrect_swap_div" style="display: none;">
    {% include 'flashcards/snippets/incorrect_answers_report.html' %}
  </div>
</div>
